<li
  id="talk-<%= talk.id %>"
  class="talk-row"
  data-author-id="<%= talk.user_id %>"
>
  <div class="talk-avatar">
    <% path = "/avatars/#{talk.user.username}.png" %>
    <% if File.exist?(Rails.root.join("public", path.delete_prefix('/'))) %>
      <%= image_tag path, alt: talk.user.username, class: "avatar" %>
    <% else %>
      <%= image_tag "default-avatar.png", alt: talk.user.username, class: "avatar" %>
    <% end %>
  </div>
  <div class="talk-content">
    <div class="talk-bubble">
      <%= sanitize(talk.content) %>
    </div>
    <div class="talk-meta">
      <span class="talk-username"><%= talk.user.username %></span>
      <span class="talk-time"><%= talk.created_at.strftime("%H:%M") %></span>
    </div>
  </div>
</li>
