<!-- app/views/grievances/new.html.erb (or _form.html.erb) -->
<div class="whole-page">
  <div class="banner banner--center">
    <h2>Grievance Drop</h2>
    <p>Share calmly. Reflect thoughtfully.</p>
  </div>
  <div class="card form-card">
    <%= simple_form_for [@partnership, @grievance], html: { id: "new_grievance" } do |f| %>
      <%= f.input :topic, placeholder: "e.g. Plans changed last minute" %>
      <h2 class="section-title">How it made me feel...</h2>
      <%= f.input :feeling,
        as: :radio_buttons,
        collection: [["Tired","tired"], ["Sad","sad"], ["Upset","upset"], ["Anxious","anxious"]],
        label_method: :first, value_method: :last,
        collection_wrapper_tag: "div",
        collection_wrapper_class: "category-wrapper",
        item_wrapper_class: "category-item",
        input_html: { class: "category-selector" },
        label: false %>
      <%= f.input :situation, placeholder: "What happened? Keep it brief but clear.", label: "Description of the situation..."%>
      <div class="mb-3 intensity-block">
        <label class="form-label" for="grievance_intensity_scale">Intensity Scale</label>
        <div class="intensity-scale">
          <div class="scale-icon scale-icon--min">
            <%= inline_svg_tag "icons/leaf.svg", class: "icon" %>
          </div>
          <div class="scale-slider">
            <%= f.range_field :intensity_scale,
            min: 0, max: 6, step: 1,
            class: "intensity-slider",
            id: "grievance_intensity_scale" %>
            <div class="scale-ticks" aria-hidden="true">
              <span></span><span></span><span></span><span></span>
            </div>
          </div>
          <div class="scale-icon scale-icon--max">
            <%= inline_svg_tag "icons/fire.svg", class: "icon" %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "Submit", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>
