<div class="bottom-navbar">
  <%= link_to '#', class: "nav-icon" do %>
    <%= inline_svg_tag "icons/home-navbar.svg" %>
  <% end %>
  <%= link_to root_path, class: "nav-icon" do %>
    <%= inline_svg_tag "icons/checkin-navbar.svg" %>
  <% end %>
  <%= link_to grievances_path, class: "nav-icon" do %>
    <%= inline_svg_tag "icons/grievance-navbar.svg" %>
  <% end %>
  <%= link_to root_path, class: "nav-icon" do %>
    <%= inline_svg_tag "icons/message-navbar.svg" %>
  <% end %>
</div>
