<% if status.present? %>
    <div class="health-banner my-3 border-<%= status[:level] %>">
      <div class="card-body">
      <% if status[:level] == :danger %>
        <h5 class="card-title text-<%= status[:level] %> mb-3">
            <%= "Needs Attention" %>
        </h5>
      <% end %>
        <p class="card-text">
          <% if status[:unread_grievances].positive? %>
            You have <strong><%= status[:unread_grievances] %></strong> unread grievance<%= "s" if status[:unread_grievances] > 1 %>.<br>
          <% end %>
          <% if @unread_count.positive? %>
            You have <strong><%= status[:unread] %></strong> unread check-ins.<br>
          <% end %>
          In the last <%= status[:days] %> days,<br>
          <strong><%= (status[:user_ratio] * 100).round %>%</strong> of your check-ins
          were marked with tougher moods.<br>
          <strong><%= (status[:partner_ratio] * 100).round %>%</strong> of your partner's check-ins
          were marked with tougher moods.
        </p>
        <div class="d-flex justify-content-center">
          <%= link_to "Harmony Coach", partnership_messages_path(@partnership), class:"btn btn-coach w-full", style: "margin-right:8px" %>
        </div>
      </div>
    </div>
<% end %>
