<div class="whole-page">
</div>
<%= simple_form_for [partnership, checkin], html: { id: 'new_checkin' } do |f| %>
  <% if checkin.id.present? %>
    <h2>User felt:</h2>
  <% else %>
    <h2>How are you feeling?</h2>
  <% end %>
  <%= f.input :mood,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-feeling',
            item_wrapper_class: 'category-item',
            input_html: { data: {disable_inputs_target: "input"}, class: 'category-selector'},
            collection: Checkin::MOODS %>
  <% if checkin.id.present? %>
    <h2>User's day was:</h2>
  <% else %>
    <h2>My day was...</h2>
  <% end %>
  <%= f.input :my_day,
                as: :radio_buttons, label: false,
                collection: [['Good','Good'], ['Bad','Bad']],
                label_method: :first, value_method: :last,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: { data: {disable_inputs_target: "input"},  class: 'choice-input visually-hidden' } %>
  <% if checkin.id.present? %>
    <% if checkin.discuss? %>
      <h2>Open to talking about it</h2>
    <% else %>
      <h2>Not open to talking about it</h2>
    <% end %>
  <% else %>
    <h2>Do you want to talk about it?</h2>
  <% end %>
  <% if checkin.id %>
    <%= f.input :discuss,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'talk-item',
            input_html: { data: {disable_inputs_target: "input"}, class: 'category-selector', selected: checkin.discuss? ? "true" : "false"},
            collection: [true, false] %>
  <% else %>
    <%= f.input :discuss,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'talk-item',
            input_html: { data: {disable_inputs_target: "input"}, class: 'category-selector', checked: false},
            collection: [true, false] %>
  <% end %>
  <%= f.input :comment,
                label: false,
                placeholder: "Anything you'd like to share?",
                input_html: { data: {disable_inputs_target: "input" }, rows: 4 } %>
  <% if checkin.id && !current_page?(edit_partnership_checkin_path(partnership, checkin)) %>
    <%= link_to "Back", partnership_path(partnership), class: 'btn btn-coach w-100'  %>
  <% else %>
    <%= f.submit "Submit", class: "btn btn-primary w-100"  %>
  <% end %>
<% end %>
