<div data-controller="disable-inputs" class="checkin-show text-center">
  <div class="whole-page">
  </div>
  <% if checkin.user == current_user %>
    <h2>You felt:</h2>
  <% else %>
    <h2><%= checkin.user.username %> felt:</h2>
  <% end %>
  <%= inline_svg_tag "icons/#{checkin.mood.downcase}-icon.svg", class: "mood-icon" %>
  <p class="mood-label"><%= checkin.mood.capitalize %></p>
  <% if checkin.user == current_user %>
    <h2>Your day was:</h2>
  <% else %>
    <h2><%= checkin.user.username %>'s day was:</h2>
  <% end %>
  <p><%= inline_svg_tag "icons/#{checkin.my_day.downcase}.svg", class: "mood-icon day-icon" %></p>
  <h2>Open to talking about it?</h2>
  <p><%= inline_svg_tag "icons/#{checkin.discuss? ? "yes" : "no"}.svg", class: "mood-icon" %></p>
    <% if checkin.comment.present? %>
      <div class="form-group text required grievance_situation text-start">
        <h2><label class="form-label">Comments:</label>
          <h2>
            <div class="readonly-field">
              <%= simple_format(checkin.comment) %>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "Back", partnership_path(@partnership), class: 'btn btn-coach w-100'  %>
    </div>
