<div class="container">
  <%= simple_form_for([@partnership, @checkin]) do |f| %>
    <h2>How are you feeling?</h2>
    <%= f.input :mood,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Checkin::MOODS %>
    <h2>My day was...</h2>
    <%= f.input :my_day,
                as: :radio_buttons, label: false,
                collection: [['Good','Good'], ['Bad','Bad']],
                label_method: :first, value_method: :last,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: { class: 'choice-input visually-hidden' } %>
    <h2>Do you want to talk about it?</h2>
    <%= f.input :discuss,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'talk-item',
            input_html: {class: 'category-selector', checked: false},
            collection: [true, false] %>
    <%= f.input :comment,
                label: false,
                placeholder: "Anything you'd like to share?"  %>
    <%= f.submit "Submit", class: "btn btn-primary"  %>
  <% end %>
</div>
