<div class="container checkin-scope">
  <% owner =
      (@checkin.respond_to?(:user) && @checkin.user.presence) ||
      (@partnership&.user_two) || (@partnership&.user_one) || @user %>
  <% avatar_name = owner&.try(:username).presence || "default_avatar" %>
  <div class="meta-chip" style="margin-top: 10px;">
    <div class="meta-chip__text" style="margin-top: 5px;">
      Sent on: <%= @checkin.created_at.strftime("%Y/%m/%d") %>
    </div>
    <%= image_tag "#{avatar_name}.png",
          class: "meta-chip__avatar",
          alt: (owner&.try(:username) || "avatar") %>
  </div>
  <% todays_checkin = current_user.checkins.where(created_at: Time.zone.today.all_day).first %>
  <% if todays_checkin.present? %>
    <% if todays_checkin.nudge.nil? %>
      <%= render 'checkins/nudge', checkin: todays_checkin, partnership: @partnership %>
    <% else %>
      <p class="already-checked-in-msg">
        You've already checked in today! Here's your entry:
      </p>
      <%= render 'checkins/show', checkin: todays_checkin, partnership: @partnership %>
    <% end %>
  <% else %>
    <% if @checkin.nudge.nil? %>
      <%= render 'checkins/nudge', checkin: @checkin, partnership: @partnership %>
    <% else %>
      <%= render 'checkins/show', checkin: @checkin, partnership: @partnership %>
    <% end %>
  <% end %>
</div>
