<!DOCTYPE html>
<html>
  <head>
    <title>PureComm</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags if respond_to?(:javascript_importmap_tags) %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap", rel: "stylesheet" %>
  </head>
  <body class="app-shell has-bottom-nav">
    <a class="skip-link" href="#content">Skip to content</a>
    <% unless controller_name == "pages" && action_name == "home" %>
      <%= render "shared/top_navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <main id="content" class="site-main">
      <div class="app-container flow">
        <%= yield %>
      </div>
    </main>
    <% unless controller_name == "pages" && action_name == "home" %>
      <%= render "shared/bottom_navbar" %>
    <% end %>
  </body>
</html>
